<nav id="nav-container">
</nav>
  <div id="nav-content">
    <div>
      <a href="#">Dashboard</a>
      <a href="#">Diet Details</a>
    </div>
    <img src="http://via.placeholder.com/50x50" alt="The user profile image">  
  </div>