<nav id="nav-container">
</nav>

<nav id="nav-content">
  <ul>
    <li><%= link_to 'Dashboard', user_profile_path if user_signed_in? %></li>
  </ul>
    
  <% if user_signed_in? %>  
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
  <% else %>
    <%= link_to('Login', new_user_session_path)  %>  
  <% end %>  
</nav>
