<nav id="nav-container">
</nav>

<nav id="nav-content">
  <ul>
    <li><%= link_to 'Dashboard', user_profile_path %></li>
    <li><a href="#">Diet Details</a></li>
  </ul>
    
  <img src="http://via.placeholder.com/50x50" alt="The user profile image">  
</nav>
