# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: ea06e1bf3e3427fdd30db08e6de44197d74543c3bc1424db61c4dfbc1b327c2872e7f112eab39f9403d5775f9d0b9731c143403c161346b3c9ac9ff3d165d7cf

test:
  secret_key_base: 678005a4f9e69b0bcb287d5e6cfa8447cc7a0cb43fcfee179a9fb89bcfc5dc9d90d87f651091a709d056336af2bf08c1edd280f6f9752c3bd56194871a6632ff

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
