<div class="spaced-elements content">
  <h4>Hello, <%= @user.name %></h4>
  <a class="waves-effect waves-light btn">button</a>
</div>


<img src="http://via.placeholder.com/700x300" alt="Graph" class="content">

<div class="content">
  <p>Hey <%= @user.name %>, here's your progress, Keep going!</p>
</div>