
body{
  margin: 0;
}

body, button, input, select, textarea{
  font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
}

p {
  margin-bottom: 1.5em;
}

b, strong {
  font-weight: bold;
}

dfn, cite, em, i {
  font-style: italic;
}

blockquote{
  margin: 0 1.5em;
}

address{
  margin: 0 0 1.5em;
}

pre{
  display: inline-block;
  font-family: "Courier 10 Pitch", Courier, monospace;
  color: #ddca7e;
  background: #282c34;
  padding: .5em .8em;
  border-radius: .2em;
}

code, kbd, tt, var {
  font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

small{ font-size: 75%; }

big { font-size: 125%; }

figure{ margin: 0; padding: 0 }