<div class="spaced-elements content">
  <h3>Create a new diet</h3>
  <%= link_to "Back", user_profile_path, 
    class: "waves-effect waves-light btn spaced-elements content" %>
</div>

<%= render 'form', resource: @user, object: @diet %>

<script>
  $(document).ready(() => {
    $('.weight').mask('000(kg) 000(g)',  {reverse: true});
    
    if ( $('.datepicker').length > 0 ) {
      ( $('.datepicker').pickadate({
        format: 'mmmm d, yyyy',
      }) )
    }
  });
</script>