

<div class="spaced-elements content">
  <h3>Diet Details</h3>
  <%= link_to "Back", user_profile_path, 
    class: "waves-effect waves-light btn spaced-elements content" %>
</div>



<div class=content>
  <%= @diet.inspect %>
</div>